:root{
    --statsChangeColor: black;
}

h4{
    font-family: 'Press Start 2p', roboto !important;
}

#battleScene{
    display: none;
}

/* player Healthbar Styles */
#playerContainer{
    width: 650px; 
    position: absolute; 
    top: 650px; 
    left: 1225px; 

    background: transparent;
}

#playerEffectContainer{
    position: absolute;
    top: -396px;
    left: -875px;

    height: 500px;
    width: 500px;
}

#playerEffect{
    height: 500px;
    width: 500px;

    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: changePlayerStat;

    display: none;
}

@keyframes changePlayerStat {
    from {
        background: radial-gradient(#00000000);
    }

    25% {
        background: radial-gradient(var(--statsChangeColor), 15%,#00000000, #00000000);
    }

    50% {
        background: radial-gradient(var(--statsChangeColor), 25%,#00000000, #00000000);
    }

    75% {
        background: radial-gradient(var(--statsChangeColor), 35%,#00000000, #00000000);
    }

    to {
        background: radial-gradient(var(--statsChangeColor), 50% #00000000, #00000000);
    }
}

#playerInfoContainer{
    position: relative;
    top: 26px;

    background: linear-gradient(to left, #DD3D2599, 65%, #4c090699);

    border-top: 2px solid black;
}

#playerInfo{
    position: relative;
    top: -10px;
    display: flex; 
    justify-content: end; 
    font-size: 24.5px; 
    padding: 10px 5px 15px 15px !important;
    height: 50px;
}

#playerHPDisplay{
    position: absolute; 
    top: 26px; 
    display: inline-flex; 
    align-items: center; 
    z-index: 1; 
    font-size: 24.5px; 
    padding: 5px 5px 0 5px;
    background-color: rgba(0,0,0,0.95);
}

#playerHealthbarContainer{
    top: 18px;
    position: relative
}

#playerGreybar{
    background-color: lightgrey; 
    height: 20px; 
    position: relative; 
    top: -13px;

    border-top: 2px solid;
}

#playerHealthbar{
    background-color: green; 
    width: 100%;
    height: 20px; 
    position: absolute; 
    top: -11px; 
    left: 0; 
    right: 0;
    transition: 1.5s ease-out;
}

#playerExpbarContainer{
    position: relative
}

#playerExpGreybar{
    background-color: rgb(255, 200, 125); 
    height: 12px;
    position: relative;
    top: 3px;
    border-top: 2px solid;
}

#playerExpbar{
    background-color: rgb(255, 125, 0);
    height: 10px; 
    position: absolute;
    top: 5px;
    left: 0; 
    right: 0;

    transition: 1.5s ease-out;
}

/* level up display */

#levelUpDisplayContainer{
    display: none;
    grid-template-rows: repeat(7, 14.285%);

    position: absolute;
    top: 37.5%;
    left: 120%;

    height: 250px;
    width: 265px;

    background: linear-gradient(to left, #DD3D25, 65%, #881713);
    padding: 5px !important;

    border: 2px solid black;
} #levelUpDisplayContainer > div{
    background: transparentw
}

.levelUpLabel {
    padding: 10px 0 0 4px
}

.levelUpDisplayData{
    position: relative;
    top: -15px;

    float: right;
}

/* enemy Healthbar Styles */
#enemyContainer{
    width: 650px; 
    position: absolute; 
    top: 25px; 
    left: 250px;
}

#enemyEffectContainer{
    position: absolute;
    left: 1190px;
    top: 50px;

    height: 250px;
    width: 250px;
}

#enemyEffect{
    height: 250px;
    width: 250px;

    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: changeEnemyStat;

    display: none;
}

@keyframes changeEnemyStat {
    from {
        background: radial-gradient(#00000000);
    }

    25% {
        background: radial-gradient(var(--statsChangeColor), 15%,#00000000, #00000000);
    }

    50% {
        background: radial-gradient(var(--statsChangeColor), 25%,#00000000, #00000000);
    }

    75% {
        background: radial-gradient(var(--statsChangeColor), 35%,#00000000, #00000000);
    }

    to {
        background: radial-gradient(var(--statsChangeColor), 50% #00000000, #00000000);
    }
}

#enemyInfoContainer{
    position: relative;
    top: 26px;

    background: linear-gradient(to left, #DD3D2599, 65%, #4c090699);

    border-top: 1px solid black;
}

#enemyInfo{
    position: relative;
    top: -10px;
    display: flex; 
    justify-content: end; 
    font-size: 14px; 
    padding: 10px 5px 15px 15px !important ;
    height: 44px;
}

#enemyHPDisplay{
    position: absolute; 
    top: 26px; 
    display: inline-flex; 
    align-items: center; 
    z-index: 1; 
    font-size: 14.5px; 
    padding: 5px 5px 0 5px;
    background-color: rgba(0,0,0,0.95);
}

#enemyHealthbarContainer{
    position: relative;
}

#enemyGreybar{
    background-color: lightgrey; 
    height: 30px; 

    border-top: 1px solid black;
}

#enemyHealthbar{
    background-color: green; 
    height: 29px; 
    position: absolute; 
    top: 1px; 
    left: 0; 
    right: 0;
    transition: 1.5s ease-out;
}

/* battle Menu */

#battleMenuContainer{
    background-color: transparent; 
    position: absolute; 
    height: 25%;
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: inline-block;
}

#battleOptionsContainer{
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: white;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
}

#battleOptionsDialogueContainer{
    background-color: transparent;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;

    border-top: 2px solid black;
}

#battleOptionsDialogue{
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
    font-size: 16px;
    padding: 15px !important;

    background: radial-gradient(#DD3D25, 85%, #881713);
}

#battleOptionsButtonContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;

    background: radial-gradient(#DD3D25, 85%, #881713);

    border-top: 2px solid black;
    border-left: 2px solid black;
} #battleOptionsButtonContainer > button{
    background: transparent;
} #battleOptionsButtonContainer > button:hover{
    background: #46060499;
}


#attackEventContainer{
    height: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    display: none;

    background: radial-gradient(#DD3D25, 85%, #881713);
}

#dialogueBox{
    position: absolute; 
    display: inline-block; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 24px !important; 
    cursor: pointer;

    background: radial-gradient(#DD3D25, 85%, #881713);

    border: 2px solid black;

    white-space: break-spaces;
}

#attacksBox{
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    width: 66.66%;

    background: radial-gradient(#DD3D25, 85%, #881713);

    border-top: 2px solid black
} #attacksBox > button {
    background: transparent;
} #attacksBox > button:hover {
    background: #46060499;
}

#changeAttacksBox{
    display: none; 
    grid-template-columns: repeat(2,1fr); 
    width: 66.66%;

    border-top: 2px solid black;
} #changeAttacksBox > button{
    background: transparent;
}

#attackInfoContainer{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 33.33%; 
    border-left: 2px solid black;
}

#attackInfo{
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
    font-size: 16px;
    height: 88.8%;
    width: 100%;
    top: -14px;
}

#attackName{
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
}

#attackType{
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
}

#attackPotency{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#attackAccuracy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#attackPP{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.attackInfoHeadContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}.attackInfoHeadContainer > h4{
    font-family: 'Press Start 2p', roboto;
}

.attackInfoHeadContainerBottom{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}.attackInfoHeadContainerBottom > h4{
    font-family: 'Press Start 2p', roboto;
}

#newAttackInfo{
    display: none;
    position: relative;
    height: 88.8%;
    width: 100%;
    top: -14px;
}

#newAttackName{
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
}

#newAttackType{
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid black;
}

#newAttackPotency{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#newAttackAccuracy{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#newAttackPP{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#newAttackDesc{
    padding: 15px;
}

#answerButtonContainer{
    display: none;
    grid-template-columns: 50% 50%;

    position: absolute;

    top: 67.5%;
    left: 0;
    right: 0;
    bottom: 0%;

    height: 32.5%;
    width: 100%;
}

#newAttackYesButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: green;

    cursor: pointer;

    border-top: 2px solid black;

    padding-bottom: 30px !important;
}#newAttackYesButton:hover{
    background-color: darkgreen;
}

#newAttackNoButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;

    cursor: pointer;

    border-top: 2px solid black;

    padding-bottom: 30px !important;
}#newAttackNoButton:hover{
    background-color: darkred;
}

#newAttackCancelButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;
    
    cursor: pointer;
}#newAttackCancelButton:hover{
    background-color: darkred;
}

#evoDialogueBox{
    position: absolute; 
    display: none; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 24px; 
    cursor: pointer;
    padding: 15px !important;

    background: radial-gradient(#DD3D25, 85%, #881713);

    border-top: 2px solid black;
}

#evoButtonContainer{
    display: none;
    grid-template-columns: 50% 50%;

    position: absolute;

    top: 67.5%;
    left: 0;
    right: 0;
    bottom: 0%;

    height: 32.5%;
    width: 100%;

    border-top: 2px solid black;
}

#evoYesButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: green;

    cursor: pointer;

    padding-bottom: 30px !important;
}#evoYesButton:hover{
    background-color: darkgreen;
}

#evoNoButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;

    cursor: pointer;

    padding-bottom: 30px !important;
}#evoNoButton:hover{
    background-color: darkred;
}