#foeHealthBarContainer{
  position: absolute;
  top: 4.5%;

  background: black;

  height: 100;
  width: 40%;
}

#allyHealthBarContainer{
  position: absolute;
  top: 62.5%;
  right: 0;

  background: black;

  height: 100;
  width: 40%;
}

.infoContainer{
  display: grid;
  grid-template-columns: 40% 60%;
}

.battleName{
  position: relative;
  left: 15;
  top: 15;
}

.battleLvl{
  display: flex;
  justify-content: flex-end;

  position: relative;
  right: 15;
  top: 15;
}

#battleScene{
  position: absolute;
  top: 0;

  display: none;
  grid-template-rows: 75% 25%;

  height: 100%;
  width: 100%;
}

#menu{
  height: 100%;
  width: 100%;

  background: rgb(0, 0, 0);
}

#dialogueInterface{
  display: none;
  cursor: pointer;
  padding: 30;
  height: 100%;
  width: 100%;
}

.menuInterface{
  display: grid;
  grid-template-columns: 60% 40%;

  height: 100%;
}

#textBox{
  padding: 25;
}

#optionBox, #movesBox{
  display: flex;
  flex-wrap: wrap;
}

.optionButton, .movesButton{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 47.5%;
  height: 50%;
}

.optionButton:hover, .movesButton:hover, .learnMoveOptionButton:hover{
  background-color: rgba(255, 255, 255, 0.25);

  cursor: pointer;
}

#movesDesc{
  display: grid;
  grid-template-rows: 50% 50%;
}

.movesDescContainer{
  display: flex;
  justify-content: flex-end;
}

.descContainer{
  display: flex;
  width: 100%;
}

.descContainer > div{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
}

.statusContainer{
  position: relative;

  display: grid;

  grid-template-rows: 50%;
}

.healthContainer{
  position: relative;
  top: 46%;

  display: grid;
  grid-template-columns: 30% 70%;
}

.healthBarContainer{
  position: relative;

  clip-path: polygon(100% 100%, 0% 100%, 7.75% 0%, 100% 0%);
}

.healthBar{
  position: relative;
  width: 100%;

  height: 30.5;

  background: green;

  z-index: 3;
  
  transition: ease-out 0.5s;
}

.healthBarBackground{
  position: relative;
  top: -100%;

  width: 100%;
  height: 30;

  background: darkgrey;

  display: inline-block;

  z-index: 2;
}

/* somehow put gradient from green on the denominator to the color representing the state of the current hp */
.hp{
  display: flex;
  justify-content: center;
}

.expBarContainer{
  pointer-events: none;

  clip-path: polygon(0% 0%, 0% 0%, 100% 1000%, 100% 0%);
}

.expBar{
  position: relative;

  height: 72.5%;
  width: 0%;

  background-color: aqua;

  z-index: 2;

  transition: ease-out 1s;
}

.expBarBackground{
  position: relative;
  top: -72.5%;

  height: 72.5%;
  width: 100%;

  background-color:aquamarine;

  display: inline-block;

  z-index: 1;
}

#lvlUpWindow{
  position: absolute;

  height: 400;
  width: 375;

  left: 2900;
  top: 41.25%;
  transform: translate(-50%,-50%);
  
  display: none;
  grid-template-rows: 25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;

  background-color: black;

  transition: 1s ease-out;
}

.lvlUpStatsContainer{
  display: grid;
  grid-template-columns: 50% 50%;
}

.lvlUpDisplay{
  display: flex;

  justify-content: end;
  align-items: center;

  font-size: 22;
}

#lvlUpLvl{
  justify-content: center;
}

.lvlUpStatsName{
  justify-content: start;

  padding-left: 25;
}

.lvlUpStats{
  padding-right: 25;
}

#learnMoveInterface{
  display: none;
  grid-template-columns: 60% 40%;
}

.learnMoveOptionButton{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50%;

  cursor: pointer;
}

#learnMoveDialogue{
  padding: 25;
}

#foeHealthBar{
  top: -1;
}