h4{
    font-family: 'Press Start 2p', roboto !important;
}

#battleScene{
    display: none;
}

/* player Healthbar Styles */
#playerContainer{
    background-color: white; 
    width: 650px; 
    position: absolute; 
    top: 650px; 
    left: 1225px; 
    border: 4px black solid;
}

#playerInfo{
    display: flex; 
    justify-content: end; 
    font-size: 22px; 
    padding: 10px 5px 15px 15px !important;
}

#playerHPDisplay{
    position: absolute; 
    top: 26px; 
    display: inline-flex; 
    align-items: center; 
    z-index: 1; 
    font-size: 22px; 
    padding: 5px 5px 0 5px;
    background-color: rgba(0,0,0,1);
}

#playerHealthbarContainer{
    top: 18px;
    position: relative
}

#playerGreybar{
    background-color: lightgrey; 
    height: 20px; 
    position: relative; 
    top: -17px; 
    border-top: 2px solid black;
}

#playerHealthbar{
    background-color: green; 
    width: 100%;
    height: 20px; 
    position: absolute; 
    top: -15px; 
    left: 0; 
    right: 0;
    transition: 1.5s ease-out;
}

#playerExpbarContainer{
    position: relative
}

#playerExpGreybar{
    background-color: rgb(255, 200, 125); 
    height: 10px;
    position: relative; 
    border-top: 2px solid black;
}

#playerExpbar{
    background-color: rgb(255, 125, 0);
    height: 8px; 
    position: absolute;
    top: 2px;
    left: 0; 
    right: 0;

    transition: 1.5s ease-out;
}

/* level up display */

#levelUpDisplayContainer{
    display: none;
    grid-template-rows: repeat(7, 14.285%);

    position: absolute;
    top: 37.5%;
    left: 120%;

    height: 250px;
    width: 265px;

    background-color: white;

    border: 4px black solid;
}

.levelUpLabel {
    padding: 10px 0 0 4px
}

.levelUpDisplayData{
    position: relative;
    top: -15px;

    float: right;

}

/* enemy Healthbar Styles */
#enemyContainer{
    background-color: white; 
    width: 650px; 
    position: absolute; 
    top: 25px; 
    left: 250px; 
    border: 4px black solid;
}

#enemyInfo{
    display: flex; 
    justify-content: end; 
    font-size: 16px; 
    padding: 10px 5px 15px 15px !important ;
}

#enemyHPDisplay{
    position: absolute; 
    top: 26px; 
    display: inline-flex; 
    align-items: center; 
    z-index: 1; 
    font-size: 16px; 
    padding: 5px 5px 0 5px;
    background-color: rgba(0,0,0,1);
}

#enemyHealthbarContainer{
    position: relative;
}

#enemyGreybar{
    background-color: lightgrey; 
    height: 10px; 
    border-top: 2px solid black;
}

#enemyHealthbar{
    background-color: green; 
    width: 100%;
    height: 8px; 
    position: absolute; 
    top: 2px; 
    left: 0; 
    right: 0;
    transition: 1.5s ease-out;
}

/* battle Menu */

#battleMenuContainer{
    background-color: transparent; 
    position: absolute; 
    height: 25%;
    bottom: 0; 
    left: 0; 
    right: 0; 
    border-top: 4px black solid; 
    display: inline-block;
}

#battleOptionsContainer{
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: white;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
}

#battleOptionsDialogueContainer{
    background-color: transparent;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
    border-right: 4px black solid;
}

#battleOptionsDialogue{
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
    font-size: 16px;
    padding: 15px !important;
}

#battleOptionsButtonContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: blue;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 100%;
}

#attackEventContainer{
    background-color: white; 
    height: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    display: none;
}

#dialogueBox{
    position: absolute; 
    display: inline-block; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: white; 
    padding: 24px !important; 
    cursor: pointer;
}

#attacksBox{
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    width: 66.66%;
}

#changeAttacksBox{
    display: none; 
    grid-template-columns: repeat(2,1fr); 
    width: 66.66%;
}

#attackInfoContainer{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 33.33%; 
    border-left: black solid 4px;
}

#attackInfo{
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
    font-size: 16px;
    height: 90%;
    width: 100%;
    top: -14px;
}

#attackName{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
}

#attackType{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;

}

#attackPotency{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

#attackAccuracy{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

#attackPP{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

.attackInfoHeadContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}.attackInfoHeadContainer > h4{
    font-family: 'Press Start 2p', roboto;
}

.attackInfoHeadContainerBottom{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}.attackInfoHeadContainerBottom > h4{
    font-family: 'Press Start 2p', roboto;
}

#newAttackInfo{
    display: none;
    position: relative;
    height: 90%;
    width: 100%;
    top: -14px;
}

#newAttackName{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
}

#newAttackType{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;

}

#newAttackPotency{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

#newAttackAccuracy{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

#newAttackPP{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    font-size: 14px;
}

#newAttackDesc{
    padding: 15px;
    border: 2px black solid;
}

#answerButtonContainer{
    display: none;
    grid-template-columns: 50% 50%;

    position: absolute;

    top: 39%;
    left: 0;
    right: 0;
    bottom: 0%;

    height: 80%;
    width: 100%;

    border-top:5px black solid;
}

#newAttackYesButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: green;
    border-right:2.5px black solid;

    cursor: pointer;
}#newAttackYesButton:hover{
    background-color: darkgreen;
}

#newAttackNoButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;
    border-left:2.5px black solid;

    cursor: pointer;
}#newAttackNoButton:hover{
    background-color: darkred;
}

#newAttackCancelButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;
    border: 2px black solid;
    
    cursor: pointer;
}#newAttackCancelButton:hover{
    background-color: darkred;
}

#evoDialogueBox{
    position: absolute; 
    display: none; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: white; 
    padding: 24px; 
    cursor: pointer;
}

#evoButtonContainer{
    display: none;
    grid-template-columns: 50% 50%;

    position: absolute;

    top: 39%;
    left: 0;
    right: 0;
    bottom: 0%;

    height: 80%;
    width: 100%;

    border-top:5px black solid;
}

#evoYesButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: green;
    border-right:2.5px black solid;

    cursor: pointer;
}#evoYesButton:hover{
    background-color: darkgreen;
}

#evoNoButton{
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    background-color: red;
    border-left:2.5px black solid;

    cursor: pointer;
}#evoNoButton:hover{
    background-color: darkred;
}