#evolutionScene{
    display: none;
    grid-template-rows: 75% 25%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#evolutionDialogueBox{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 15px !important;

    border: 2px black solid;

    background: radial-gradient(#DD3D25, 85%, #881713);
}#evolutionDialogueBox:hover{
    cursor: pointer;
}