@import url('https://fonts.cdnfonts.com/css/press-start-2p');

* {
  color: white;
  font-size: x-large;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
  font-variant: small-caps;

  user-select: none;
}

body{
  background-color: black;

  margin: 0;
  padding: 0;

  width: 100%;

  display: flex;
  align-items: center;

  overflow: hidden;
}

#overlapping{
  display: grid;
  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: black;

  height: 100%;
  width: 100%;

  opacity: 0;

  pointer-events: none;

  z-index: 13;
}

#overworldContainer{
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
}

#overworldScene{
  position: absolute;
  top: 0;

  display: none;

  height: 100%;
  width: 100%;
}

#overworldSceneContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#overworldMenu{
  position: absolute;

  display: grid;
  grid-template-columns: repeat(3, 33.33%);

  z-index: 11;
}

.overworldMenuSections{
  position: relative;
  height: 85%;
  width: 85%;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(50, 50, 50);
  color: black;
}

.overworldMenuSections:hover{
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

#overworldDialogueContainer{
  display: none;
  grid-template-rows: 70% 30%;

  width: 100%;
  height: 100%;
}

#overworldDialogue{
  height: 76.5%;
  width: 100%;

  background-color: black;
  padding: 37.5px;
}#overworldDialogue:hover{
  cursor: pointer;
}

.exclamation{
  position: absolute;
  opacity: 0;
}

#openWindow{
  display: flex;
  justify-content: center;
  align-items: center;
}

#overworldStarterImg{
  display: flex;
  height: 500px;
}

.chooseStarterButtonsContainer{
  display: grid;
  grid-template-columns: 50% 50%;

  height: 100% !important;
}

.chooseStarterButton{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}.chooseStarterButton:hover{
  background-color: rgba(128, 128, 128, 0.5);
}

#optionsMenuContainer{
  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  z-index: 12;

  background-color: black;
}

#optionsMenu{
  display: grid;
  grid-template-rows: repeat(33.33%, 3);

  height: 75%;
  width: 50%;

  background-color: rgba(15, 15, 15, 0.5);
}

.optionsMenuButtons{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  width: 100%;
}

.volumeTag{
  width: 50%;

  text-align: center;
}

.volumeRange{
  height: 5%;
  width: 50%;

  margin-right: 25px;
}

#optionsMenuDelete{
  display: flex;
  justify-content: center;

  width: 100%;
  
  background-color: rgba(255, 0, 0, 0.05);
}#optionsMenuDelete:hover{
  background-color: rgba(255, 0, 0, 0.15);
  cursor: pointer;
}