#pogedexScene{
   display: none;
   position: absolute;
   top: 0;

   height: 100%;
   width: 100%;
}

#pogedexSceneContainer{
   height: 100%;
   width: 100%;
}

#pogedexSceneGrid{
   display: grid;
   grid-template-columns: 55% 45%;

   height: 100%;
   width: 100%;
}

.pogedexSceneSection{
   height: 100%;
   width: 100%;
}

#pogedexSceneDetail{
   display: grid;
   grid-template-rows: 17.5% 65% 17.5%;
}

#pogedexSceneTargetSectionDetailsContainer{
   display: grid;
   grid-template-columns: 50% 50%;
}

.pogedexSceneTargetSectionDetail{
   display: flex;
   justify-content: center;
   align-items: center;
}

.pogedexSceneTargetSectionDetails{
   height: 100%;
   width: 100%;
}

.pogedexSceneTargetSectionDetail{
   height: 100%;
   width: 100%;
}

#pogedexSceneTargetMoreInfoButton{
   display: flex;
   justify-content: center;
   align-items: center;
}

.infoHover:hover{
   background-color: rgba(211, 211, 211, 0.25);
   cursor: pointer;
}

#pogedexSceneScroll{
   position: absolute;

   overflow-y: scroll;

   height: 100%;
   width: 45%;
}

.pogedexSceneScrollContent{
   display: grid;
   grid-template-columns: 160px 250px auto;

   margin-top: 10px;

   height: 150px;
   width: 97.25%;
   background-color: rgba(75, 75, 75, 1);
}

.pogedexHover:hover{
   background-color: rgba(150, 150, 150, 1) !important;
   cursor: pointer !important;
}

.pogedexSceneScrollPogemonImg{
   position: relative;

   height: 100%;
   max-height: 155px;
   width: 160px;
}

.pogedexPogemonInfo{
   display: flex;

   align-items: center;
   justify-content: center;
}