#summaryMenuContainer{
    display: none;
    grid-template-rows: 64% 36%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#upperDisplayContainer{
    display: grid;
    grid-template-columns: 31.25% 28.75% 40%;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#lowerDisplayContainer{
    display: grid;
    grid-template-columns: 60.25% 39.75%;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
}

#generalDataContainer{
    display: grid;
    grid-template-rows: 20% 20% 15% 15% 30%;
}

#targetGlobalIdData{
    position: relative;

    top: 69%;
    left: 225px;
}

#targetLevelDataContainer{
    position: relative;
    
    top: 70px;
    left: 365px;
    height: 75px;
    width: 215px;

    display: flex;

    justify-content: center;
    align-items: center;
}

#targetNameDataContainer{
    position: relative;

    top: 49px;
    left: 200px;
    height: 75px;
    width: 375px;

    display: flex;

    justify-content: center;
    align-items: center;
}

#targetTypeDataContainer{
    position: relative;

    top: 17.5px;
    left: 200px;
    height: 65px;
    width: 375px;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

#targetGIDContainer{
    position: relative;

    top: 17.5px;
    left: 200px;
    height: 65px;
    width: 375px;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

#targetGIDData{
    position: relative;
    left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

#targetItemContainer{
    position: relative;

    top: 17.5px;
    left: 200px;
    height: 65px;
    width: 375px;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

#targetItemData{
    position: relative;
    left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}

#targetItemIcon{
    position: relative;
    top: -100px;
    left: 600px;
    height: 75px;
}

#statsDataContainer{
    display: grid;
    grid-template-rows: 28% 12.5% 12.5% 12.5% 12.5% 22%;
}#statsDataContainer > h1{
    position: relative;

    top: 20px;
}

#targetHPData{
    position: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.targetDataContainer{
    position: relative;
    left: 516px;
    top: 5px;
    height: 67.5px;
    width: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#expAbilityDataContainer{
    display: grid;
    grid-template-rows: 50% 50%;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#targetAbilityDataContainer{
    position: relative;
    top: -2.5px;
    height: 55px;

    display: flex;

    align-items: center;
    justify-content: left;

    width: 375px;
    left: 329px;
}

#targetAbilityData{
    font-size: x-large;

    padding-left: 42.5px !important;
}

#targetAbilityDescDataContainer{
    position: relative;
    top: -5px;
    height: 72.5px;

    width: 1065px;
    left: 50px;
}

#targetAbilityDescData{
    font-size: large;
    padding: 10px !important;
}

#targetTotalExpDataContainer{
    position: relative;
    top: 55px;
    left: 780px;

    display: flex;

    align-items: center;
    justify-content: left;

    height: 55px;
    width: 335px;

    padding-left: 10px !important;
}

#targetExpToNextLvlDataContainer{
    position: relative;
    top: 60px;
    left: 780px;

    display: flex;

    align-items: center;
    justify-content: left;

    height: 55px;
    width: 335px;

    padding-left: 10px !important;
}

#attacksDataContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    position: relative;
    top: -2.5px;
    right: 0;
    bottom: 0;
    left: 5px;

    background-color: transparent;
}

#targetHPDataContainer{
    position: relative;
    height: 70px;
    width: 435px;
    left: 295px;
    top: 72.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryAttackButton{
    height: 90%;
    width: 97.5%;
}.summaryAttackButton:hover{
    background: radial-gradient( #FF39390F 85%, #FAE5EA);
}

#summaryAttackDescriptionContainer{
    display: grid;
    grid-template-rows: 19% 13% 67%;
    
    position: absolute;
    top: -506px;
    left: 37.5px;

    height: 500px;
    width: 500px;
}

#summaryAttackDescriptionDataContainer{
    position: relative;
    left: 35px;

    width: 440px;
    height: 265px;
}

#summaryAttackDescription{
    position: relative;
    
    left: 15px;

    font-size: large;
    line-height: 62.5px;
}

#summaryAttackNameContainer{
    position: relative;
    left: 140px;
    top: 22.5px;

    height: 56.5px;
    width: 320px;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: large;
}

#summaryAttackName{
    font-size: 24px;
}

#summaryAttackPowerContainer{
    position: relative;
    left: 80px;

    height: 40px;
    width: 100px;

    display: flex;

    align-items: center;
    justify-content: center;
}

#summaryAttackPower{
    font-size: 24px;
}

#summaryAttackAccuracyContainer{
    position: relative;
    top: -40px;
    left: 240px;

    height: 40px;
    width: 100px;

    display: flex;

    align-items: center;
    justify-content: center;
}

#summaryAttackAccuracy{
    font-size: 24px;
}

#summaryAttackPPContainer{
    position: relative;
    top: -80px;
    left: 410px;

    height: 40px;
    width: 70px;

    display: flex;

    align-items: center;
    justify-content: center;
}


#summaryAttackPP{
    font-size: 24px;
}

#summaryAttackTypeContainer{
    position: relative;
    top: -7.5px;
    left: 290px;
    
    height: 53.5px;
    width: 185px;

    display: flex;

    align-items: center;
    justify-content: center;
}

#summaryAttackType{
    font-size: 20px;
}